.card{
 width: 350px;
 height:500px;
 border-radius: 20px;
 justify-content: space-between;
 align-items: center;
 padding: 20px;
}
.title1>p{
    text-align: center;
    color: #a3a3a3;
}

body{
    background-color: rgba(19, 19, 248, 0.748) ;
}
.mainComp{
    display: flex;
}
.btn{
    width: 90%;
    height: 10%;
    border-radius: 30px;

}
.fre-details li:before{
    content:'✓ ';
}

ul{
list-style: none;
}
/* ul li:before */
      

.btn:hover:active{
 background-color: azure;
 color:blue;
}

.free-details {
 color:grey;
}
.free-details li:before{
 content: '⤫ ';
 color: #a3a3a3;
}
@media screen and (max-width:600px){
    .card{
        width: 300px;
        height:auto;
        overflow-y:scroll;
        scrollbar-width: none;
        border-radius: 20px;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        font-size: small;
       }
       .btn{
        width: 90%;
        height: 20%;
        border-radius: 30px;
        
    
    }
}
 