.app{
    display: flex;
    padding: 50px;
    border-radius: 40px;
    justify-content: space-between;
}

@media screen and (max-width:600px){
    .app{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:40px;
    }
}